<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Умный дом</display-name>
	<!-- Основные настройки. -->
	<env-entry>
		<description>Адрес OWFS сервера.</description>
		<env-entry-name>deltaspike/owfsServerUrl</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<!-- nmap -p 80,8080 192.168.0.0-255 -->
		<env-entry-value>192.168.200.120:3000</env-entry-value>
	</env-entry>
		<!-- Пример -->
	<env-entry>
		<description>Простое свойство.</description>
		<env-entry-name>deltaspike/simplProp</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>simpleValue</env-entry-value>
	</env-entry>
	<!-- Отопление. -->
	<env-entry>
		<description>Интервал сканирования датчиков (минуты).</description>
		<env-entry-name>deltaspike/owfsScannerInterval</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>0 0/5 * 1/1 * ? *</env-entry-value>
	</env-entry>
	<env-entry>
		<description>Интервал сканирования датчиков (минуты).</description>
		<env-entry-name>deltaspike/owfsTempScannerInterval</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>0 0/30 * 1/1 * ? *</env-entry-value>
	</env-entry>
</web-app>
